<Defs>
  <SystemDef defName="CollectorReset">
    <type>Systems.CollectorReset</type>
    <singleton>
      <BulletImpactCollector>ReadWrite</BulletImpactCollector>
    </singleton>
  </SystemDef>

  <SystemDef defName="PlatformMovement">
    <type>Systems.PlatformMovement</type>
    <iterate>
      <GodotPlatform>ReadWrite</GodotPlatform>
    </iterate>
    <singleton>
      <GodotSceneSingleton>ReadWrite</GodotSceneSingleton>
    </singleton>
  </SystemDef>

  <SystemDef defName="PlayerMovement">
    <type>Systems.PlayerMovement</type>
    <iterate>
      <Player>ReadWrite</Player>
      <GodotKinematicBody>ReadWrite</GodotKinematicBody>
    </iterate>
    <full>
      <GodotPlatform>ReadOnly</GodotPlatform>
    </full>
    <singleton>
      <GodotSceneSingleton>ReadWrite</GodotSceneSingleton>
    </singleton>
  </SystemDef>

  <SystemDef defName="MonsterMovement">
    <type>Systems.MonsterMovement</type>
    <iterate>
      <Monster>ReadWrite</Monster>
    </iterate>
    <singleton>
      <GodotSceneSingleton>ReadWrite</GodotSceneSingleton>
    </singleton>
  </SystemDef>

  <SystemDef defName="BulletBehavior">
    <type>Systems.BulletBehavior</type>
    <iterate>
      <Monster>ReadWrite</Monster>
    </iterate>
    <singleton>
      <GodotSceneSingleton>ReadWrite</GodotSceneSingleton>
      <BulletImpactCollector>ReadWrite</BulletImpactCollector>
    </singleton>
  </SystemDef>

  <SystemDef defName="MonsterDeath">
    <type>Systems.MonsterDeath</type>
    <iterate>
      <Monster>ReadWrite</Monster>
    </iterate>
    <singleton>
      <BulletImpactCollector>ReadOnly</BulletImpactCollector>
    </singleton>
  </SystemDef>

  <SystemDef defName="CoinPickup">
    <type>Systems.CoinPickup</type>
    <full>
      <GodotKinematicBody>ReadOnly</GodotKinematicBody>
      <GodotArea>ReadWrite</GodotArea>
      <Player>ReadOnly</Player>
      <Collectible>ReadOnly</Collectible>
    </full>
    <singleton>
      <GodotSceneSingleton>ReadWrite</GodotSceneSingleton>
    </singleton>
  </SystemDef>

  <ProcessDef defName="Tick">
    <order>
      <li>CollectorReset</li>
      <li>PlatformMovement</li>
      <li>PlayerMovement</li>
      <li>MonsterMovement</li>
      <!-- We really want to run the physics sim right here -->
      <li>BulletBehavior</li>
      <li>MonsterDeath</li>
      <li>CoinPickup</li>
    </order>
  </ProcessDef>
</Defs>
